@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fade */
.fade-enter-active {
    animation: fade 1000ms;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


/* Wobble */

.wobble-enter-active {
    animation: wobble 1000ms ease;
}

.wobble-leave-from {
    transform: translateY(0px);
    opacity: 1;
}

.wobble-leave-to {
    transform: translateY(-60px);
    opacity: 0;
}

.wobble-leave-active {
    transition: all 500ms ease;
}

@keyframes wobble {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    60% {
        transform: translateX(8px);
    }
    70% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(4px);
    }
    90% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* Slide Left */
.slide-left-enter-active {
    animation: slide-left-enter 2000ms;
}

.slide-left-leave-active {
    animation: slide-left-enter 1000ms reverse;
}

@keyframes slide-left-enter {
    0% {
        opacity: 0;
        transform: translateX(-5000px);
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    } 
    100% {
        opacity: 1;
        transform: translateX(0px);
    }        
}

/* Slide Right */
.slide-right-enter-active {
    animation: slide-right-enter 2000ms;
}

.slide-right-leave-active {
    animation: slide-right-enter 1000ms reverse;
}

@keyframes slide-right-enter {
    0% {
        opacity: 0;
        transform: translateX(5000px);
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    } 
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}